/* Таблицв */
table.sort {
    border: 1px solid black;
    border-collapse: collapse;
}

/* Ячейки таблицы */
table.sort td, th {
	border: 1px solid black;
    padding: 15px;
    font-weight: 10px;
}
table.sort tr.summary {
	background-color: rgba(102, 102, 102, 0.29);
}

/* Заголовки таблицы */
table.sort thead td, th {
	width: 100px; 
	height: 40px;
	cursor: pointer;
	font-weight: bold;
	text-align: center;
}

/* Заголовок после сортировки */
table.sort thead td.current {
	background-color: indianred;
	color: white;
}
table.sort thead td.current:hover {
	background-color: indianred;
	color: white;
}

/* Заголовок при наведении */ 
table.sort thead td:hover {
  background: rgba(205, 92, 92, 0.46);
  color: white;
}
table.sort thead th:hover {
  background: rgba(205, 92, 92, 0.46);
  color: white;
}

h1 {
	text-align: center;
}