/* Таблицв */
table.sort {
    border: 1px solid black;
    border-collapse: collapse;
}

/* Ячейки таблицы */
table.sort td, th {
	border: 1px solid black;
    padding: 15px;
    font-weight: 10px;
}

/* Заголовки таблицы */
table.sort thead td { 
	cursor: pointer;
	font-weight: bold;
	text-align: center;
}

/* Заголовок после сортировки */
table.sort thead td.current {
	background-color: indianred;
	color: white;
}

/* Заголовок при наведении */ 
table.sort thead td:hover {
  background: indianred;
  color: white;
}

h1 {
	text-align: center;
}